body, html {
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;
}

* {
    font-family: sans-serif;
}

#intro{
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#introCharacters{
  position: absolute;
  height: 12vh;
  width: 17vw;
  top: 50vh;
  left: 41vw;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  user-select: none;
}
.introText{
  position: absolute;
  opacity: 0;
  color: white;
  font-weight: bolder;
  transition: opacity 0.5s ease-in-out;
  user-select: none;
}
#name1{
  height: 5vh;
  width: 20vw;
  top: 44vh;
  left: 43.4vw;
  font-size: 1.5vh;
}
#name2{
  height: 5vh;
  width: 20vw;
  top: 44vh;
  left: 53.4vw;
  font-size: 1.5vh;
}
#introLogo{
  position: absolute;
  height: 60vh;
  width: 36vw;
  top: -100vh;
  left: 32vw;
  user-select: none;
  transition: opacity 3s ease-in-out;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
}

.no-touch {
    touch-action: none;
}

.pixelated {
    image-rendering: pixelated;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 100px;
    height: 100px;

    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(1800deg); }
}

#introCanvas {
  width: 100%;
  height: 100%;
}
.canvasContainer {
  width: 50%;
  height: 85%;
  border-radius: 15%;
}

#characterPage {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.characterPageSides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: left 1s cubic-bezier(0.6, 0, 0.4, 1);
}
#CPLeft {
  left: 0;
  background-color: black;
}
#CPRight {
  left: 100vw;
  background-color: black;
}
.characterPageMain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.columnFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  font-size: 8vh;
  font-weight: bold;
  margin-top: 2vh;
  font-family: "sans-serif";
  border-bottom: 2px solid white;
}
.characterContainer {
  height: 90%;
  width: 40%;
  margin: -7vh 0 0 -5vw;
}
.characterTop {
  height: 15%;
  margin-bottom: -3vh;
}
.character-name {
  font-size: 5vh;
  font-weight: bolder;
  margin-bottom: -2vh;
}
.character-title {
  font-size: 2.5vh;
  font-style: italic;
}
.characterBottom {
  height: 90%;
  width: 100%;
}
.characterDisplayDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 85%;
  width: 100%;
}
#p1ReadyButton {
  width: 14vw;
  height: 10vh;
  background-color: red;
  font-size: 6vh;
}
#p2ReadyButton {
  width: 14vw;
  height: 10vh;
  background-color: blue;
  font-size: 6vh;
}
.arrowButton {
  height: 18%;
  width: 10%;
}
.arrowButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image {
  position: absolute;
  width: 4%;
  height: 7%;
  margin: -2% 0 0 18%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}
.button:hover {
  transform: scale(1.1);
}
.characterExtra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 90%;
  width: 40%;
}
.info-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 10%;
  word-break: break-word;
  padding: 3%;
  text-align: left;
  font-size: 2.5vh;
  font-weight: bolder;
}
.info-box p {
  flex-grow: 1;
}
.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 8%;
}
.statLabel {
  font-weight: bold;
  width: 15%;
  font-size: 2.5vh;
}
.barContainer {
  width: 70%;
  height: 60%;
  background-color: transparent;
  overflow: hidden;
}
.bar {
  height: 75%;
  background-color: lawngreen;
  border-radius: 7px;
  transition: width 0.3s ease;
}
.border {
  padding-top: 2vh;
  border-top: 2px solid white;
}
.iconImage {
  width: 10%;
  height: 100%;
  margin-right: 3vw;
  flex-shrink: 0;
}
.fun-fact {
  font-size: 1.8vh;
  font-weight: bolder;
  width: 100%;
  height: 10%;
  padding-left: 3%;
  font-style: italic;
  color: red;
}
#backToP1, #forwardToP2 {
  width: 7vw;
  height: 20vh;
  margin-bottom: 5vh;
}
#backToP1:hover, #forwardToP2:hover {
  transform: scale(1.1);
  cursor: pointer;
}
