body, html {
    margin: 0;
    padding: 0;
    color: white;
    user-select: none;
}

* {
    font-family: sans-serif;
}

#intro{
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#introCharacters{
  position: absolute;
  height: 12vh;
  width: 17vw;
  top: 50vh;
  left: 41vw;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  user-select: none;
}
.introText{
  position: absolute;
  opacity: 0;
  color: white;
  font-weight: bolder;
  transition: opacity 0.5s ease-in-out;
  user-select: none;
}
#name1{
  height: 5vh;
  width: 20vw;
  top: 44vh;
  left: 43.4vw;
  font-size: 1.5vh;
}
#name2{
  height: 5vh;
  width: 20vw;
  top: 44vh;
  left: 53.4vw;
  font-size: 1.5vh;
}
#introLogo{
  position: absolute;
  height: 60vh;
  width: 36vw;
  top: 20vh;
  left: 32vw;
  user-select: none;
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
}

.no-touch {
    touch-action: none;
}

.pixelated {
    image-rendering: pixelated;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 100px;
    height: 100px;

    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(1800deg); }
}

#introCanvas {
  width: 98%;
  height: 98%;
  border-radius: 10%;
  border: 2px solid rgba(90, 90, 255, 1);
  visibility: hidden;
}
.canvasContainer {
  width: 50%;
  height: 85%;
}

#characterPage {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
}
.characterPageSides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: left 1s cubic-bezier(0.6, 0, 0.4, 1);
}
#CPLeft {
  left: 0;
  background-color: black;
}
#CPRight {
  left: 100vw;
  background-color: black;
}
.characterPageMain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.columnFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  font-size: 10vh;
  font-weight: bold;
  margin-top: 2vh;
  font-family: "sans-serif";
}
.player1 {
  color: rgba(90, 90, 255, 1);
}
.player2 {
  color: rgba(255, 90, 90, 1);
}
.characterContainer {
  height: 100%;
  width: 40%;
  margin: -8vh 0 0 -5vw;
}
.characterTop {
  height: 15%;
  margin-bottom: -12vh;
}
.character-name {
  font-size: 5vh;
  font-weight: bolder;
}
#characterNameLeft {
  color: rgba(90, 90, 255, 1);
}
#characterNameRight {
  color: rgba(255, 90, 90, 1);
}
.character-title {
  font-size: 2vh;
  font-style: italic;
}
#characterTitleLeft {
  color: rgba(90, 90, 255, 1)
}
.characterBottom {
  height: 90%;
  width: 100%;
}
.characterDisplayDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 85%;
  width: 100%;
}
#p1ReadyButton {
  width: 20vw;
  height: 18vh;
  background-color: rgba(90, 90, 255, 1);
  font-size: 7vh;
}
#p2ReadyButton {
  width: 20vw;
  height: 18vh;
  background-color: rgba(255, 90, 90, 1);
  font-size: 7vh;
}
.arrowButton {
  height: 18%;
  width: 10%;
}
.arrowButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image {
  position: absolute;
  width: 4%;
  height: 8%;
  margin: -2% 0 0 18%;
  border-radius: 5px;
}
#abilityImgLeft {
  border: 2px solid rgba(90, 90, 255, 1);
}
#abilityImgRight {
  border: 2px solid rgba(255, 90, 90, 1);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
  color: black;
  margin: -10vh 0 7vh 0;
}
.button:hover {
  transform: scale(1.1);
}
.characterExtra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 60%;
  width: 30%;
  margin-top: -10vh;
  border-radius: 5%;
  padding: 2%;
}
.redBorder {
  border: 2px solid rgba(255, 90, 90, 1);
}
.blueBorder {
  border: 2px solid rgba(90, 90, 255, 1);
}
.info-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 10%;
  word-break: break-word;
  padding: 3%;
  text-align: left;
  font-size: 2vh;
  font-weight: bolder;
}
.info-box p {
  flex-grow: 1;
}
.info-box2 {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 3.5%;
  width: 100%;
  padding: 3%;
  text-align: left;
  font-size: 2.5vh;
  font-weight: bolder;
}
.info-box2 p {
  margin: 0;
}
#playstyleLeft, #playstyleRight {
  margin-left: 3%;
}
.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}
.statLabel {
  font-weight: bold;
  width: 15%;
  font-size: 2.5vh;
}
.barContainer {
  width: 70%;
  height: 60%;
  background-color: transparent;
  overflow: hidden;
}
.redBar {
  height: 100%;
  background-color: rgba(255, 90, 90, 1);
  border-radius: 4px;
  transition: width 1s ease;
}
.blueBar {
  height: 100%;
  background-color: rgba(90, 90, 255, 1);
  border-radius: 4px;
  transition: width 1s ease;
}
.iconImage {
  width: 10%;
  height: 120%;
  margin-right: 3vw;
  flex-shrink: 0;
}
.funFact {
  font-size: 1.8vh;
  font-weight: bolder;
  width: 100%;
  height: 10%;
  padding-left: 3%;
  font-style: italic;
}
#funFactLeft {
  color: rgba(90, 90, 255, 1);
}
#funFactRight {
  color: rgba(255, 90, 90, 1);
}

@keyframes pulseScale {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}
@keyframes pulseColor {
  0% {  filter: brightness(1); }
  50% { filter: brightness(1.5); }
  100% { filter: brightness(1); }
}
@keyframes pulseColorCountdown {
  0% {  filter: brightness(1); }
  50% { filter: brightness(2.5); }
  100% { filter: brightness(1); }
}
#backToP1, #forwardToP2 {
  width: 7vw;
  height: 20vh;
  margin-bottom: 5vh;
  animation: pulseScale 1s ease-in-out infinite;
}
#backToP1:hover, #forwardToP2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#game{
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  visibility: hidden;
}
#gameCanvas {
  width: 100%;
  height: 100%;
  /*filter: blur(5px);*/
}
#gameBackButton{
  visibility: hidden;
  position: absolute;
  top: 95vh;
  left: 2vw;
  width: 5vw;
  height: 3vh;
  font-size: 2.5vh;
  background-color: red;
  text-align: center;
  border-radius: 5px;
  border: 0.5vh solid black;
  font-weight: bold;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
.headerMiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  color: black;
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}
.bar2 {
  position: absolute;
  top: 0;
  width: 50%;
  height: 7vh;
  border: 0.5vh solid black;
  z-index: 0;
  text-align: center;
}
.pulseColor {
  animation: pulseColor 1.5s ease-in-out infinite;
}
.pulseColorCountdown {
  animation: pulseColor 1s ease-in-out infinite;
}
#leftBarHeader {
  left: 0;
  background-color: rgba(90, 90, 255, 1);
}
#rightBarHeader {
  right: 0;
  background-color: rgba(255, 90, 90, 1);
}
.title2 {
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
  color: black;
  width: 20%;
}
.headerName {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
  color: black;
  width: 15%;
}
.abilityContainer {
  position: absolute;
  top: 7.5vh;
  height: 1vh;
  border: 0.5vh solid black;
  overflow: hidden;
  background-color: rgba(130, 0, 150);
  width: 47%;
}
#abilityContainerLeft {
  left: 0;
}
#abilityContainerRight {
  right: 0;
}
.abilityBar {
  position: absolute;
  top: 0;
  background-color: orange;
  height: 100%;
  border-radius: 3px;
}
#abilityBarLeft {
  left: 0;
  width: 66%;
}
#abilityBarRight {
  right: 0;
  width: 50%;
}
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5.5vh;
  left: 46.5%;
  border: 1vh solid black;
  background-color: yellow;
  color: black;
  width: 6%;
  height: 6vh;
  font-size: 5vh;
  font-weight: bold;
}
.hearts {
  position: absolute;
  top: 11vh;
  width: 40%;
  height: 7vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  box-sizing: border-box;
}
#heartsLeft {
  left: 0;
  padding-left: 5px;
}
#heartsRight {
  direction: rtl;
  right: 0;
  padding-right: 5px;
}
.heartsItem {
  height: 80%;
  width: 100%;
  margin-top: 10%;
}
.cups {
  position: absolute;
  top: 35vh;
  width: 12%;
  height: 20vh;
  border-radius: 5%;
  border: 0.5vh solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#cupsLeft {
  left: 0;
  background-color: rgba(90, 90, 255, 0.5);;
}
#cupsRight {
  right: 0;
  background-color: rgba(255, 90, 90, 0.5);
}
.cups div {
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.cupsMiddle {
  width: 60%;
}
.cupsBottom {
  width: 90%;
}
.cup {
  height: 5vh;
  width: 3vh;
  border-radius: 50%;
  border: 0.5vh solid black;
}
.cup:hover {
  cursor: pointer;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-1px); }
  50% { transform: translateX(1px); }
  75% { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s ease-in-out;
}

#ballDiv{
  position: absolute;
  top: 48.9vh;
  left: 48.6vw;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: transparent;
  z-index: 1;
}
#ballDiv:hover {
  cursor: grab;
}

#currentPlayerText {
  text-align: center;
  position: absolute;
  width: 25%;
  height: 10%;
  left: 37.5%;
  top: 70%;
  font-size: 7vh;
  font-weight: bold;
  z-index: 2;
  animation: pulseScale 2s ease-in-out infinite;
  color: black;
}

#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: none;
  color: red;
  font-size: 3vh;
  font-weight: bold;
  z-index: 999;
}
#loadingScreenImg {
  position: absolute;
  top: 22.5%;
  left: 37.5%;
  height: 45%;
  width: 25%;
}
#loadingScreenCover {
  position: absolute;
  top: 22.5%;
  left: 37.5%;
  background-color: black;
  height: 42%;
  width: 25%;
}
.loadingScreenBarContainer {
  position: absolute;
  top: 70%;
  left: 32.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 18%;
  width: 35%;
}
#loadingScreenBar {
  border-radius: 5px;
  background-color: red;
  width: 0;
  height: 20%;
}
