body, html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

#intro1{
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#intro1Logo{
  position: absolute;
  height: 60vh;
  width: 60vw;
  left: 20vw;
  top: 20vh;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  user-select: none;
}

#intro2{
  background-color: rebeccapurple;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#intro2Logo{
  position: absolute;
  top: 22vh;
  left: 34vw;
  width: 30vw;
  height: 45vh;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  user-select: none;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen > * {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
}

.no-touch {
    touch-action: none;
}

.pixelated {
    image-rendering: pixelated;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 100px;
    height: 100px;

    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(1800deg); }
}
